@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.7 0.1713 22.52);
  --color-secondary: oklch(0.6 0.2038 24.9);
  --color-details: oklch(0.81 0.1677 18.53);
  --color-bgPrimary: oklch(0.98 0.011 63.36);
  --color-bgSecondary: oklch(0.92 0.0388 300.28);
  --color-dark: oklch(0.2 0 0);

  --font-body: Poppins, sans-serif;
  --font-title: Playfair Display, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

h1,
h2 {
  @apply font-title;
}

body {
  color: var(--color-dark);
}
