@import 'tailwindcss';

@theme {
  --color-primary: oklch(0.7 0.1713 22.52);
  --color-secondary: oklch(0.3 0 0);
  --color-details: oklch(0.77 0.1387 91.06);
  --color-bgPrimary: oklch(0.98 0.011 63.36);
  --color-bgSecondary: oklch(0.92 0.0388 300.28);
  --color-dark: oklch(0.3 0 0);

  --font-body: Poppins, sans-serif;
  --font-title: Playfair Display, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}
